@font-face {
    font-family: 'RobotoFlex';
    src: url('RobotoFlex.ttf') format('truetype-variations');
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    color: #04588C;
    box-sizing: border-box ;
    font-family: 'RobotoFlex', 'poppins', sans-serif;
    
}

body{
    display: block;
    overflow-x: hidden !important;
    
}

/* nav*/

nav .logo1 {
    width: 50px;
    height: auto;
    
}


nav .logo{
    color: #04588C !important;
    font-size: 37px ;
    font-variation-settings: "wght" 750, "wdth" 150; 
}


nav ul li a{
    color: #04588C !important;
    font-size: 22px;
}


nav ul li a:hover{
    color: #010440 !important;
    border-radius: 5px;
    box-shadow: 0 0 5px #003F63;
               
}


nav ul li .uli{
    border-top: 3px solid #010440;
    opacity: 0 !important;
    visibility: hidden;
    transition: top .3s;
}

nav ul li:hover > .uli{
    opacity: 1 !important;
    visibility: visible !important;
}




/* landing page*/

header{
    min-height: 100vh !important;
    width: auto !important;
    background-color: #ffff ;
    position: relative;
    z-index: -1;
}

.intro-text {
    position: absolute;
    left: 10%;
}
.intro-text h1{
    color: #04588C;
    font-size: 80px;
    font-variation-settings: "wght" 750, "wdth" 150;
}

.anime1 {
    animation: anime1 1.5s infinite alternate ease-in-out;
}
@keyframes anime1 {
    from{
        font-variation-settings: "wght" 750, "wdth" 25;
    }
    to {
        font-variation-settings: "wght" 750, "wdth" 151;
    }
    
}

.anime3 {
    animation: anime3 1.5s infinite alternate ease-in-out;
}
@keyframes anime3 {
    from{
        font-variation-settings: "wght" 750, "wdth" 151;
    }
    to {
        font-variation-settings: "wght" 750, "wdth" 25;
    }
    
}

.anime2 {
    animation: anime2 1.7s infinite alternate ease-in-out;
}
@keyframes anime2 {
    from{
        font-variation-settings: "wght" 750, "wdth" 25;
    }
    to {
        font-variation-settings: "wght" 750, "wdth" 151;
    }
    
}

.anime4 {
    animation: anime4 1.7s infinite alternate ease-in-out;
}
@keyframes anime4 {
    from{
        font-variation-settings: "wght" 750, "wdth" 25;
    }
    to {
        font-variation-settings: "wght" 750, "wdth" 151;
    }
    
}

.anime5 {
    animation: anime5 1.7s infinite alternate ease-in-out;
}

@keyframes anime5 {
    from {
      font-variation-settings: "wght" 300, "YTUC" 660, "XOPQ" 100;
    }
    to {
      font-variation-settings: "wght" 750, "YTUC" 760, "XOPQ" 170;
    }
  }

  .anime6 {
    animation: anime6 1.7s infinite alternate ease-in-out;
}

@keyframes anime6 {
    from {
      font-variation-settings: "wght" 750, "YTUC" 760, "XOPQ" 170;
    }
    to {
      font-variation-settings: "wght" 300, "YTUC" 660, "XOPQ" 100;
    }
  }


.club {
    position: absolute;
    bottom: 5%;
}
.drone {
    position: absolute;
    top: 5%;
    left: 85%;
    
}

.drone2{
    position: absolute;
    top: 15%;
    right: 88%;
}

@media screen and (max-width: 1092px) {
    .intro-text h1{
        font-size: 60px;
    }

    .drone2{
        top: 30%;
        right: 85%;
        height: auto;
        width: 150px;
    }

    .drone {
        position: absolute;
        top: 5%;
        left: 85%;
        
    }

    .club {
    position: absolute;
    bottom: 5%;
}
  }

@media screen and (max-width: 600px) {
    .intro-text h1{
        font-size: 45px;
    }

    .drone2{
        top: 35%;
        right: 60%;
        height: auto;
        width: 110px;
    }

    .drone {
        top: 5%;
        left: 70%;
        
    }

   .club {
    position: absolute;
    bottom: 15%;
}

  }


/* landing page*/

/* about*/

section {
    background: linear-gradient(180deg, #003F63, #04588C) ;
    font-variation-settings: "wght" 650, "wdth" 151;
    box-shadow: 0 -19px 20px 20px #003F63;
    position: relative;
    width: auto;
}


.about h1{
    position: relative;
    color: #ffff;
    pointer-events: none;
    padding: 30px;
    margin: 30px;
}
@media screen and (max-width: 1092px) {
    .about h1{
        font-variation-settings: "wght" 650, "wdth" 151;
    }

  }

@media screen and (max-width: 600px) {
    .about h1{
        font-variation-settings: "wght" 550, "wdth" 151;
    }

  }
.about h1 span{
    color: #ffff;
}

.about span:nth-child(even){
    color: transparent;
    -webkit-text-stroke: 1px #ffff;
}




/* about*/
